<html ng-app="edtechApp">
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EdTech Project | Chris Boseak</title>

    <!-- ANGULAR JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>


    <!-- Vendor CSS -->
    <link href="~/Content/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/Content/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/Content/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/Content/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/Content/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/blaze-css@x.x.x/dist/blaze.min.css">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/app.css">
    <link href="~/Content/css/app_1.css" rel="stylesheet">
    <link href="~/Content/css/app_2.css" rel="stylesheet">
    <script>
        !function (e, n) { "use strict"; e._arrayBufferToBase64 = function (n) { for (var t = "", a = new Uint8Array(n), i = a.byteLength, r = 0; r < i; r += 1)t += String.fromCharCode(a[r]); return e.btoa(t) }, e.angular.module("naif.base64", []).directive("baseSixtyFourInput", ["$window", "$q", function (e, t) { var a = { onChange: "&", onAfterValidate: "&", parser: "&" }, i = ["onabort", "onerror", "onloadstart", "onloadend", "onprogress", "onload"]; return i.forEach(function (e) { a[e] = "&" }), { restrict: "A", require: "ngModel", scope: a, link: function (a, r, o, l) { function f(e) { if (o.maxnum && o.multiple && e) { var n = e.length <= parseInt(o.maxnum); l.$setValidity("maxnum", n) } return e } function u(e) { if (o.minnum && o.multiple && e) { var n = e.length >= parseInt(o.minnum); l.$setValidity("minnum", n) } return e } function s(e) { var n = !0; if (o.maxsize && e) { var t = 1e3 * parseFloat(o.maxsize); if (o.multiple) for (var a = 0; a < e.length; a++) { var i = e[a]; if (i.filesize > t) { n = !1; break } } else n = e.filesize <= t; l.$setValidity("maxsize", n) } return e } function c(e) { var n = !0, t = 1e3 * parseFloat(o.minsize); if (o.minsize && e) { if (o.multiple) for (var a = 0; a < e.length; a++) { var i = e[a]; if (i.filesize < t) { n = !1; break } } else n = e.filesize >= t; l.$setValidity("minsize", n) } return e } function p(e) { var n, t, a, i = !0; if (o.accept && (t = o.accept.trim().replace(/[,\s]+/gi, "|").replace(/\./g, "\\.").replace(/\/\*/g, "/.*"), n = new RegExp(t)), o.accept && e) { if (o.multiple) for (var r = 0; r < e.length; r++) { var f = e[r]; if (a = "." + f.filename.split(".").pop(), !(i = n.test(f.filetype) || n.test(a))) break } else a = "." + e.filename.split(".").pop(), i = n.test(e.filetype) || n.test(a); l.$setValidity("accept", i) } return e } function d() { var e = o.multiple ? $ : $[0]; l.$setViewValue(e), s(e), c(e), f(e), u(e), p(e) } function m(e, n, t, a, i) { t[e] = function (e) { n()(e, t, a, z, $, i) } } function g(i, r, l) { return function (f) { var u, s = f.target.result, c = o.maxsize && r.size > 1024 * o.maxsize; o.doNotParseIfOversize !== n && c ? l.base64 = null : l.base64 = e._arrayBufferToBase64(s), u = o.parser ? t.when(a.parser()(r, l)) : t.when(l), u.then(function (e) { $.push(e), r.deferredObj.resolve() }), o.onload && (a.onload && "function" == typeof a.onload() ? a.onload()(f, i, r, z, $, l) : a.onload(f, z)) } } function h(e, n, t) { for (var r = i.length - 1; r >= 0; r--) { var l = i[r]; o[l] && "onload" !== l && m(l, a[l], e, n, t) } e.onload = g(e, n, t) } function y() { var n, a = []; for (n = z.length - 1; n >= 0; n--)z[n].deferredObj = t.defer(), a.push(z[n].deferredObj.promise); for (t.all(a).then(d), n = z.length - 1; n >= 0; n--) { var i = new e.FileReader, r = z[n], o = {}; o.filetype = r.type, o.filename = r.name, o.filesize = r.size, h(i, r, o), i.readAsArrayBuffer(r) } } function v(e) { o.onChange && (a.onChange && "function" == typeof a.onChange() ? a.onChange()(e, z) : a.onChange(e, z)) } function V(e) { if (o.onAfterValidate) { for (var n = [], i = z.length - 1; i >= 0; i--)n.push(z[i].deferredObj.promise); t.all(n).then(function () { a.onAfterValidate && "function" == typeof a.onAfterValidate() ? a.onAfterValidate()(e, $, z) : a.onAfterValidate(e, $, z) }) } } var z = [], $ = []; l && (l.$isEmpty = function (e) { return !e || (angular.isArray(e) ? 0 === e.length : !e.base64) }, a._clearInput = function () { r[0].value = "" }, a.$watch(function () { return l.$viewValue }, function (e) { l.$isEmpty(e) && l.$dirty && (a._clearInput(), l.$setValidity("maxnum", !0), l.$setValidity("minnum", !0), l.$setValidity("maxsize", !0), l.$setValidity("minsize", !0), l.$setValidity("accept", !0)) }), r.on("change", function (e) { $ = [], $ = angular.copy($), 0 === e.target.files.length ? (z = [], d()) : (z = e.target.files, y(), v(e), V(e)), o.allowSameFile && a._clearInput() })) } } }]) }(window);
        var app = angular.module('edtechApp', ['naif.base64']);
        app.controller("edtechMainCtrl", function ($scope) {
            $scope.setCookie = function (name, value, days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
            }
            $scope.getCookie = function (name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }
        });
        app.controller("uploadCtrl", function ($scope) {
            $scope.test = "asdfasdf";
        });

        app.controller("videoCtrl", function ($scope) {
            $scope.scaledOptions = [1, 2, 3, 4, 5];
            $scope.yesNoOptions = [
                { text: "n/a", value: 0 },
                { text: "Room for Improvement", value: 1 },
                { text: "Ready for Classroom Use", value: 2 },
            ];
            $scope.scaledRatings = [
                { text: "Responsive to student questions", rating: null },
                { text: "Lesson Pacing", rating: null },
                { text: "Coverage of Material", rating: null }
            ];
            $scope.yesNoRatings = [

                { text: "Attentiveness", rating: null },
                { text: "Knowledgable", rating: null },
                { text: "Gives students feedback", rating: null },
                { text: "lorem ipsum", rating: null }

            ]
        });

    </script>
</head>
<body ng-controller="edtechMainCtrl">
    <header id="header" class="clearfix" data-ma-theme="blue">
        <ul class="h-inner">
            <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="hi-logo hidden-xs header-list">
                <img class="logo" src="http://www.comm.gatech.edu/sites/default/files/images/brand-graphics/gt-logo-gold.png"> <a>EdTech Project - Chris Boseak</a>
            </li>

            <li class="pull-right">
                <ul class="hi-menu"></ul>
            </li>
        </ul>

        <!-- Top Search Content -->
        <div class="h-search-wrap">
            <div class="hsw-inner">
                <i class="hsw-close zmdi zmdi-arrow-left" data-ma-action="search-close"></i>
                <input type="text">
            </div>
        </div>
    </header>

    <section id="main">
        <aside id="sidebar" class="sidebar c-overflow">
            <div class="s-profile">
                <a href="" data-ma-action="profile-menu-toggle">
                    <div class="sp-pic">
                        <img src="https://e27.co/img/no_profile_image.png" alt="">
                    </div>

                    <div class="sp-info">
                        [NAME HERE]

                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </a>

                <ul class="main-menu">
                    <li>
                        <a href="#"><i class="zmdi zmdi-email"></i> Message Center</a>
                    </li>
                    <li>
                        <a href="#"><i class="zmdi zmdi-accounts-alt"></i> Observe Me</a>
                    </li>
                    <li>
                        <a href=#""><i class="zmdi zmdi-face"></i> Face-to-Face</a>
                    </li>
                    <li>
                        <a href=#""><i class="zmdi zmdi-chart-donut"></i> Observation Data</a>
                    </li>
                    <li>
                        <a href=#""><i class="zmdi zmdi-time-restore"></i> My Teammates</a>
                    </li>
                    <li>
                        <a href=#""><i class="zmdi zmdi-settings"></i> My Profile</a>
                    </li>
                </ul>
            </div>

            <ul class="main-menu">
                <li class="active"><a href="index.html"><i class="zmdi zmdi-home"></i> Dashboard</a></li>

                <li class="sub-menu">
                    <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-chart"></i> My Data</a>
                    <ul>
                        <li><a href="#">Progress Monitoring</a></li>
                        <li><a href="#">Student Portfolio</a></li>
                        <li><a href="#">Observation Data</a></li>
                        <li><a href="#">My Portfolio</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-account"></i> Let's Meet</a>
                    <ul>
                        <li><a href="#">Classroom Observations</a></li>
                        <li><a href="#">Face To Face</a></li>
                        <li><a href="studygroups.html">Study Group</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-accounts-alt"></i> My Team</a>
                    <ul>
                        <li><a href="#">My Teammates</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Message Center</a></li>
                        <li><a href="#">Discussions</a></li>
                        <li><a href="#">Victories</a></li>
                        <li><a href="#">Obstacles</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-library"></i> Library</a>
                    <ul>
                        <li><a href="#">Team Resources</a></li>
                        <li><a href="#">External Resources</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-help"></i> Help</a>
                    <ul>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </li>

            </ul>
        </aside>
        <section id="content">
            @RenderBody()
        </section>
    </section>

    <footer id="footer">


        <ul class="f-menu">
            <li><a href="">Home</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </footer>

    <!-- Javascript Libraries -->
    <script src="~/Content/vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/Content/js/app.min.js"></script>

</body>
</html>
