
@{
    ViewData["Title"] = "Message Center";

}
<style>
    .message-center .nav-tabs > li.active > a {
        color: white;
        background-color: #00a797;
    }

    .message-center .nav-tabs > li > a {
        color: #009688;
        background-color: #eaeaea;
    }

    .message-center .panel-default > .panel-heading {
        color: #ffffff;
        background-color: #009688;
        border-color: #ddd;
    }

    .top-action-buttons-tab {
        float: right;
        padding-top: 17px;
        margin-right: 15px;
    }
</style>
<div ng-controller="inboxCtrl" class="message-center crud-page">
    <div class="w3-animate-opacity">
        <div class="block-header header-extra-margin">
            <h2 class="edtech-page-header">Inbox</h2>

            <ul class="actions">
                <li class="tab-buttons">

                </li>
            </ul>

        </div>

        <span class="w3-animate-opacity top-action-buttons-tab" aria-label="send a new message button" role="button">

            <a href="@Url.Action("NewMessage","home")">New Message <i class="fa fa-paper-plane" aria-hidden="true"></i></a>
        </span>
        <table class="table table-hover table-condensed forum-post-table" style="border-spacing: 0;">
            <thead>
                <tr class=" inbox-header">
                    <th class="forum-header">From</th>
                    <th class="forum-header">Subject</th>
                    <th class="forum-header hidden-xs ">Date</th>
                </tr>
            </thead>
            <tbody class="w3-animate-opacity">
                <tr class=" inbox-item " ng-repeat="m in mail track by $index">
                    <td class="forum-small-sub"><a ng-href="/home/message/{{m.id}}">{{m.senderFirstName}} {{m.senderLastName}}</a></td>
                    <td  class="forum-small-sub forum-subject"><a ng-href="/home/message/{{m.id}}">{{m.subject}}</a></td>
                    <td class="hidden-xs forum-small-sub forum-date">{{m.createdOn}}</td>

                </tr>
                <tr ng-if="mail.length <= 0">
                    <td class="forum-small-sub" colspan="100%">Inbox is Empty</td>
                </tr>

            </tbody>
        </table>







    </div>
  
</div>

<script>

    app.controller('inboxCtrl',
        function ($scope, $http) {
            $scope.inbox = true;
        
            $scope.mail = [];




            $scope.getAllMessages = function (id) {
                
                $http.get('/access/GetMessagesByToUserId?userid=' + id).then(function (res) {
                    $scope.mail = JSON.parse(res.data);
                }, function (res) {
                    console.log(res);
                });
            }
            $scope.getAllMessages($scope.$parent.userId)


         

        });

</script>
