
@{
    ViewData["Title"] = "New Message";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.js"></script>
<div ng-controller="newMessageCtrl" class="new-message crud-page">
    <div class="block-header">
        <h2 class="edtech-page-header">Message Center</h2>

    </div>
    <div class="new-message">
        <div class="row">
            <div class=" col-sm-12">
                <div class="card front-page-card">
                    <div class="card-header  bgm-bluegray news-header">
                        <div class="cwh-day">New Message</div>
                        <div class="cwh-year"></div>
                        <div class="cwh-year"></div>
                    </div>

                    <div class="card-body announcement-card-body card-padding message-body">
                        <div class="card-modal w3-animate-opacity">
                            <div class="modal-body reply-message">
                                <div class="form-style-2">
                                    <label>
                                        <span>Recipient </span> <select class="full-width" aria-label="add group member selector" ng-options='m.id as (m.firstName + " " + m.lastName) for m in teamMembers' ng-model="message.toUserId"></select>
                                    </label>


                                    <label><span>Subject </span><input ng-model="message.subject" type="text" class="input-field full-width" name="field1" value="" /></label>
                                    <label><span>Message </span><textarea rows="20" cols="50" ng-model="message.content" type="textarea" class="input-field full-width" name="field2" value=""></textarea></label>

                                    <div class="o-form-element">
                                        <button type="button" ng-click="cancelMessage()" class="c-button">Cancel</button>
                                        <button type="button" ng-click="sendMessage(message)" class="c-button c-button--warning">Send</button>
                                    </div>
                                </div>



                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    app.controller('newMessageCtrl',
        function ($scope,$http) {
            $scope.teamMembers = [];
            $scope.id = @ViewBag.id;
            $scope.loadTeamMembers = function (id) {
                $http.get('/access/GetOtherUsers?myUserid=' + id).then(function (res) {
                    $scope.teamMembers = JSON.parse(res.data);
                }, function (res) {
                    console.log(res);
                });
            }
            $scope.message = {
                subject: "",
                content: "",
                toUserId: -1
            };


            $scope.sendMessage = function (msg) {
                if (!msg.toUserId) { Notification.error("Please select a recipient"); return; }
                //int fromUserId, int toUserId, string subject, string body)
                $http.get('/access/sendmessage?fromUserId=' + $scope.id + '&toUserId=' + msg.toUserId + '&subject=' + msg.subject + '&body=' + msg.content).then(function (res) {
                    $scope.clearMessage();
                    alert('message sent');
                }, function (res) {
                    console.log(res);
                    });

            }

            $scope.cancelMessage = function () {
                $scope.clearMessage();


            }
            $scope.clearMessage = function () {
                $scope.message = {
                    subject: "",
                    content: "",
                    toUserId: -1
                }
            }
            $scope.loadTeamMembers($scope.id)

        });
</script>