
@{
    ViewBag.Title = "Upload";
}

<div ng-controller="uploadCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>File Upload</h4>
                        </div>
                        <div ng-form="edtechform" class="col-sm-6">

                            <div class="o-form-element">
                                <label class="c-label" for="Mentor">Mentor* <span style="color: red;" ng-show="edtechform.addmentor.$touched && edtechform.addmentor.$invalid">Required</span></label>
                                <select id="Mentor" name="addmentor" ng-model="toUserId" class="c-field" required>
                                    <option ng-value="p.id" ng-repeat="p in mentors track by $index">{{p.firstName}} {{p.lastName}}</option>
                                </select>
                            </div>
                            <div class="o-form-element">
                                <label class="c-label" for="type">Type* <span style="color: red;" ng-show="edtechform.addmentor.$touched && edtechform.addmentor.$invalid">Required</span></label>
                                <select id="type" name="type" ng-model="type" class="c-field" required>
                                    <option ng-value="p.value" ng-repeat="p in types track by $index">{{p.text}}</option>
                                </select>
                            </div>
                            <div class="o-form-element">
                                <label class="c-label" for="file">Select File* <span style="color: red;" ng-show="edtechform.file.$touched && edtechform.file.$invalid">Required</span></label>
                                <input id="file" type="file" name="file" ng-model="fileData" class="c-field" base-sixty-four-input required>
                            </div>
                            <div class="o-form-element">
                                <button type="button" ng-click="cancel()" class="c-button">Cancel</button>
                                <button type="button" ng-click="savePost()" class="c-button c-button--warning">Save</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    app.controller("uploadCtrl", function ($scope, $http) {
        $scope.mentors = [];
        $scope.fromUserId = $scope.$parent.userId;
       
        $scope.loadMentors = function (id) {
            $http.get('/access/GetOtherUsers?myUserid=' + id).then(function (res) {
                $scope.mentors = JSON.parse(res.data);
            }, function (res) {
                console.log(res);
            });
        }
        $scope.types = [{ value: 1, text: "Lesson Plan" }, { value: 2, text: "video" }]
        $scope.type = 1;
        $scope.toUserId = -1;
        $scope.savePost = function () {

            var fileData = document.getElementById("file").files[0];
            var fd = new FormData();
            fd.append('file', fileData);
            fd.append('name', $scope.fileData.filename);
            fd.append('type', $scope.type);
            $http.post('/access/upload', fd, {
                headers: { 'Content-Type': undefined },
                transformRequest: angular.identity
            }).then(function (res) {
                $http.get('/access/AddTask?fromuserid=' + $scope.fromUserId + '&touserid=' + $scope.toUserId + '&name=Review Needed - ' + $scope.fileData.filename + '&fileid=' + res.data)
                    .then(function (r) { console.log(r); })
            });
        }
        $scope.save = function () {
            var data = {
                name: $scope.fileData.filename,
                base64: $scope.fileData.base64,
                type: $scope.type
            }
            console.log($scope.fileData);
            $http.post('/access/SaveFile', data
            ).then(function (res) {
                $http.get('/access/AddTask?fromuserid=' + $scope.fromUserId + '&touserid=' + $scope.toUserId + '&name=Review Needed - ' + $scope.fileData.filename + '&fileid=' + res.data)
                    .then(function (r) { console.log(r); })
            });
        }
        $scope.loadMentors($scope.$parent.userId);

    });

</script>